<!--@Пример в html-->
<div class="container">
  <!--Первый вариант применения с дефолтным значением-->
  <div appCustomColor >Первый вариан с дефолтным значением</div>

  <!--
      Первый вариант применения с установкой значения
      в данном случае значение green интерпритируеться как строка которая передается
      в компоненту
  -->
  <div appCustomColor="green" >Первый вариант - установка значения</div>

  <!--
      Второй вариант применения с установкой значения
      в данном случае значение green интерпритируеться как свойство компоненты
  -->
  <div [appCustomColor]="color" >Второй вариант - установка значения</div>

  <div appCustomColor="red" message=" Привет с параметра" >Третий вариант - установка значения + текст</div>
  <!--Использование как тэга
  но тогда значение цвета не передать. Для этого нужно определить переменную
  цвета через @Input в directive.ts
  -->
  <appCustomColor message="Привет я текст с дерективного тэга"></appCustomColor>

  <p>Деректива appShowDescription обрабатывает событие (в данном случае click):</p>
  <div class="card-body">
    <h5 appShowDescription>На этом тексте весит деректива appShowDescription. Кликни по мне</h5>
    <p class="card-text" [hidden]="true">Отображаеться через дерективу</p>
  </div>

  <div [customIf]="">custom if</div> 20.14
</div>

