<div class="container">
  <div *ngFor="let order of orders; let i = index">
    <div class="card mb-3">
      <div class="card-header">
        Информация о заказе #{{ i + 1 }}
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <label for="name">Имя {{order.name}}</label>
          <input type="text"
                 id="name"
                 class="form-control"
                 name="name"
                 [(ngModel)]="order.name"
                 required
                 [readonly]="!order.isEdit"
          >
        </li>
        <li class="list-group-item">
          <label for="email">Email {{order.email}}</label>
          <input type="text"
                 id="email"
                 class="form-control"
                 name="email"
                 [(ngModel)]="order.email"
                 required
                 [readonly]="!order.isEdit"
          >
        </li>
        <li class="list-group-item">
          <label for="phone">Телефон {{ order.phone }}</label>
          <input type="text"
                 id="phone"
                 class="form-control"
                 name="phone"
                 [(ngModel)]="order.phone"
                 required
                 [readonly]="!order.isEdit"
          >
        </li>
      </ul>
      <button class="btn btn-primary mt-3 mb-3" (click)="order.isEdit = !order.isEdit">{{ order.isEdit ? 'Save' : 'Edit' }}</button>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        <th>Название книги</th>
        <th>Цена за штуку</th>
        <th>Количество</th>
        <th>Сумма</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of order.items; let i = index">
          <td>{{ i + 1 }}</td>
          <th>{{item.name}}</th>
          <td>{{item.price}}</td>
          <td>
            <input type="number"
                   name="count"
                   [(ngModel)]="item.count"
                   min="1"
                   max="100"
            >
          </td>
          <td>{{item.sum}}</td>
          <td>
            <i class="fa fa-remove ml-auto text-danger"></i>
          </td>
        </tr>
      </tbody>
    </table>
    <select class="form-control mb-5" [(ngModel)]="order.status"  name="status" (change)="changeStatus(order)">
      <option value="processing">processing</option>
      <option value="shipping">shipping</option>
      <option value="close">close</option>
    </select>
  </div>
</div>
