<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Название книги</th>
      <th scope="col">Цена за штуку</th>
      <th scope="col">Количество</th>
      <th scope="col">Сумма</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Learn js</th>
      <td>100</td>
      <td>
        <input type="number">
      </td>
      <td>200</td>
      <td>
        <i class="fa fa-remove ml-auto text-danger"></i>
      </td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-primary">Оформить заказ</button>
</div>
